:root {
  --white-color : #fff;
  --background-color: rgb(6, 6, 14);
  --form-background: rgb(35, 43, 60);
  --secondary: rgb(138, 146, 164);
  --success-color: rgb(58, 197, 128);
  --active-color: red;
  --focus-color: red;
}

body {
  background-color: var(--background-color);
}

h1, h2, h3, h4, h5, h6 {
  font-family: 'Montserrat', sans-serif;
}

ul {
  margin: 0;
  padding: 0;
}

span, p {
  font-family: 'Montserrat', sans-serif;
  font-weight: 400;
}

a {
  font-family: 'Montserrat', sans-serif;
}

button {
  font-family: 'Montserrat', sans-serif;
  font-weight: 400;
}